<div class="page-header">
  <h2>Theses</h2>
  <p>Manage and grade theses assigned to you</p>
</div>

<div class="filters">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input [value]="searchTerm()"  matInput (input)="onSearch($event)" placeholder="Search by title or student">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select [value]="statusFilter()"  (selectionChange)="onStatusChange($event.value)">
      <mat-option value="">All</mat-option>
      <mat-option value="GRADED">Graded</mat-option>
      <mat-option value="PENDING">Pending</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
  <mat-label>Session</mat-label>
  <mat-select 
    [value]="selectedSessionId()" 
    (selectionChange)="onSessionChange($event.value)">

    <mat-option [value]="null">All</mat-option>

    @for (session of sessions() || []; track session.id) {
      <mat-option [value]="session.id">
        {{ session.startDate }} → {{ session.endDate }}
      </mat-option>
    }

  </mat-select>
</mat-form-field>
  <button mat-stroked-button (click)="resetFilters()">
    Reset
  </button>
</div>

<mat-tab-group animationDuration="100ms" (selectedTabChange)="onTabChange($event)">
  <mat-tab label="{{'All Theses (' + thesises()?.length +')'}}">
    <div class="reviews-grid">
      @if (filteredList().length === 0) {
          <div class="empty-state">
            <mat-icon>folder_open</mat-icon>
            <h1>No theses assigned</h1>
            <p>You currently don’t have any theses to review.</p>
          </div>
      } @else {
        <div class="sessions-container">
  @for (group of groupedBySession(); track group.sessionId) {
    <div class="session-group">

      <div class="session-header">
        <h3>{{ 'Session: ' + getSessionLabel(group.sessionId) }}</h3>
        <span class="count">{{ group.theses.length }} theses</span>
      </div>

      <div class="reviews-grid">
        @for (thesis of group.theses; track thesis.id) {
          <app-thesis-card [thesis]="thesis"></app-thesis-card>
        }
      </div>

    </div>
  }
</div>
      }
    </div>
  </mat-tab>
  @if (authService.getRole() != 'ADMIN') {
    <mat-tab label="{{'As Supervisor (' + asSupervisor()?.length + ')'}}">
    <div class="reviews-grid">
      @if (filteredList() && filteredList()!.length > 0) {
        <div class="sessions-container">
  @for (group of groupedBySession(); track group.sessionId) {
    <div class="session-group">

      <div class="session-header">
        <h3>{{ getSessionLabel(group.sessionId) }}</h3>
        <span class="count">{{ group.theses.length }} theses</span>
      </div>

      <div class="reviews-grid">
        @for (thesis of group.theses; track thesis.id) {
          <app-thesis-card [thesis]="thesis"></app-thesis-card>
        }
      </div>

    </div>
  }
</div>  
      } @else {
        
        <div class="empty-state">
          <mat-icon>folder_open</mat-icon>
          <h1>No theses assigned</h1>
          <p>There is currently no theses supervised by you</p>
        </div>
      }
      
    </div>
  </mat-tab>
  }
  @if (authService.getRole() != 'ADMIN') {
    <mat-tab label="{{'As Reviewer (' + asReviewer()?.length + ')'}}">
    <div class="reviews-grid">
      @if (filteredList() && filteredList()!.length > 0) {
      <div class="sessions-container">
  @for (group of groupedBySession(); track group.sessionId) {
    <div class="session-group">

      <div class="session-header">
        <h3>{{ getSessionLabel(group.sessionId) }}</h3>
        <span class="count">{{ group.theses.length }} theses</span>
      </div>

      <div class="reviews-grid">
        @for (thesis of group.theses; track thesis.id) {
          <app-thesis-card [thesis]="thesis"></app-thesis-card>
        }
      </div>

    </div>
  }
</div>
      } @else {
        <div class="empty-state">
          <mat-icon>folder_open</mat-icon>
          <h1>No theses assigned</h1>
          <p>There is currently no theses assigned to you as reviewer</p>
        </div>
      }
  
    </div>
  </mat-tab>
  }
  @if (authService.getRole() != 'ADMIN') {
      <mat-tab label="{{'As Committee (' + asCommittee()?.length + ')'}}">
    <div class="reviews-grid">
      @if (filteredList() && filteredList()!.length > 0) {
      <div class="sessions-container">
  @for (group of groupedBySession(); track group.sessionId) {
    <div class="session-group">

      <div class="session-header">
        <h3>{{ getSessionLabel(group.sessionId) }}</h3>
        <span class="count">{{ group.theses.length }} theses</span>
      </div>

      <div class="reviews-grid">
        @for (thesis of group.theses; track thesis.id) {
          <app-thesis-card [thesis]="thesis"></app-thesis-card>
        }
      </div>

    </div>
  }
</div>
      } @else {
        <div class="empty-state">
          <mat-icon>folder_open</mat-icon>
          <h1>No theses assigned</h1>
          <p>You are not part of committee for any thesis</p>
        </div>
      }
      
    </div>
  </mat-tab>
  }
</mat-tab-group>

