<mat-card class="grade-card" appearance="outlined">

  <mat-card-header>
    <mat-card-title>Reviewer Evaluation</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    @if (reviewerGrade()) {
      <table class="grades-table">
      <thead>
        <tr>
          <th>Role</th>
          <th>Content</th>
          <th>Complexity</th>
          <th>Appearance</th>
          <th>Presentation</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Reviewer</td>
          <td>{{ reviewerGrade()?.contentScore }}</td>
          <td>{{ reviewerGrade()?.complexityScore }}</td>
          <td>{{ reviewerGrade()?.appearanceScore }}</td>
          <td></td>
        </tr>
        @if (committeeMemberGrades()) {
          @for (grade of committeeMemberGrades(); track grade) {
            <tr>
          <td>Committee Member</td>
          <td>{{ grade.contentScore }}</td>
          <td>{{ grade.complexityScore }}</td>
          <td>{{ grade.appearanceScore }}</td>
          <td>{{ grade.presentationScore }}</td>
          
        </tr>
          }
        }
        @if (!ownGrade()) {
           @if (isGrading) {
            <tr [formGroup]="gradeForm">
            <td>Committee Member</td>
            <td><input type="number" formControlName="contentScore"></td>
            <td><input type="number" formControlName="complexityScore"></td>
            <td><input type="number" formControlName="appearanceScore"></td>
            <td><input type="text"   formControlName="presentationScore"></td>
          </tr>
          }
        } @else {
          <tr>
            <td>Your Grade</td>
            <td>{{ ownGrade()!.contentScore }}</td>
            <td>{{ ownGrade()!.complexityScore }}</td>
            <td>{{ ownGrade()!.appearanceScore }}</td>
            <td>{{ ownGrade()!.presentationScore }}</td>
          </tr>
        }
       
      </tbody>
    </table>
    @if (!ownGrade()) {
      @if (!isGrading) {
      <button mat-raised-button class="mt-2" (click)="startReview()">Start Review</button>
    } @else {
      <button mat-raised-button class="mt-2 me-2" (click)="cancelReview()">Cancel</button>
      <button mat-raised-button class="mt-2" (click)="submitReview()">Submit</button>
    }
    }
} @else {
  <p>Reviewer hasn't submitted his evaluation yet</p>
}
  </mat-card-content>
  

