<h2 mat-dialog-title>Supervisor Form Submission</h2>

<mat-dialog-content class="dialog-content">
  <form [formGroup]="form" class="form-grid">

    

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Context of research</mat-label>
      <textarea matInput rows="3" formControlName="contextOfResearch"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Student's contribution</mat-label>
      <textarea matInput rows="3" formControlName="studentContribution"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Strengths of thesis</mat-label>
      <textarea matInput rows="3" formControlName="strengthOfThesis"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Limitations of thesis</mat-label>
      <textarea matInput rows="3" formControlName="limitationOfThesis"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Cooperation</mat-label>
      <textarea matInput rows="3" formControlName="cooperation"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Additional comments</mat-label>
      <textarea matInput rows="3" formControlName="additionalComments"></textarea>
    </mat-form-field>

    

  </form>
</mat-dialog-content>

<mat-dialog-actions >
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="submit()">Submit</button>
</mat-dialog-actions>
