<mat-sidenav-container class="sidenav-container">
  @if (!isLoginPage()) {
    <mat-sidenav mode="side" opened class="sidenav">

    <!-- Logo / Header -->
    <div class="sidenav-header">
      <mat-icon>school</mat-icon>
      <span>Thesis System</span>
    </div>

    <!-- Navigation -->
    <mat-nav-list class="nav-items">
      
      <a mat-list-item routerLink="/" routerLinkActive="active-link">
        <mat-icon>description</mat-icon>
        <span>Theses</span>
      </a>

      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>

      <a mat-list-item routerLink="/profile" routerLinkActive="active-link">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </a>

      <a mat-list-item >
        <button (click)="authService.logOut()" class="logout-button">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </a>
      
    </mat-nav-list>

    <!-- User Profile -->
    <div class="user-section">
      <mat-icon class="avatar">account_circle</mat-icon>
      <div>
        <div class="name">{{  authService.getEmail()  }}</div>
        <div class="role">{{  authService.getRole()  }}</div>
      </div>
    </div>

  </mat-sidenav>
  }
  

  <mat-sidenav-content class="ps-4 pt-4 pe-4">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>